service: geometry-lab

provider:
  name: google
  stage: dev
  runtime: nodejs16
  region: europe-west2
  project: geometry-lab
  credentials: ~/.gcloud/keyfile.json

frameworkVersion: '3'

plugins:
  - serverless-google-cloudfunctions
  - serverless-offline
  - serverless-plugin-typescript


# needs more granular excluding in production as only the serverless provider npm
# package should be excluded (and not the whole node_modules directory)
package:
  exclude:
    - node_modules/**
    - .gitignore
    - .git/**

functions:
  processPolygonPayload:
    handler: "processPolygonPayload"
    events:
      - http: path
          # method: post
          # cors: true 
